.logged-out-container {
    width: 30rem;
    height: 100vh;
    margin: 0 auto;
    font-size: var(--xlg);
    padding: 4rem 0;
    display: flex;
    align-items: center;
}

.company-logo-container img {
    width: 100%;
    height: auto;
}

.company-logo-container h1 {
    text-align: center;
}

.user-login-container p {
    margin-top: 1rem;
    align-content: center;
}

.user-login-container input {
    width: 100%;
    height: 4rem;
    border-radius: 0.5rem;
    padding: 0.2rem;
    font-size: var(--md);
}

.input-password-container {
    position: relative;
}

.bi-eye {
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    left: 30rem;
}

.bi-eye-slash {
    display: none;
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    left: 30rem;
}

.login-btn-container {
    text-align: center;
}

#login_btn {
    width: 15rem;
    height: 4rem;
    margin-top: 3rem;
    border-radius: 0.5rem;
    background-color: var(--planeta-geek-celeste);
    cursor: pointer;
}

#login_btn:hover {
    background-color: var(--planeta-geek-shadow-celeste);
    color: var(--white);
}

#login_btn:active {
    background-color: var(--planeta-geek-green);
    color: var(--black);
}