* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Bai Jamjuree', sans-serif;
}

:root {
  --white: #FFFFFF;
  --black: #000000;
  --header-font-color: rgb(117, 105, 105);
  --nav-left-borders: rgb(24, 24, 24);
  --background-black: #282828;
  --background-nav: rgb(40, 40, 40);
  --background-article: #292e38;
  --background-sections: #181c23;
  --planeta-geek-celeste: #03fbfa;
  --planeta-geek-shadow-celeste: #2e6e70;
  --planeta-geek-celeste-border: #5fe1e8;
  --red-notifications: #c40d24;
  --launches-fucsia: #fe009d;
  --fucsia-shadow: #BF0076;
  --palid-red: #FF214F;
  --vivid-red: #cf2e2e;
  --planeta-geek-yellow: #FBFA03;
  --planeta-geek-yellow-shadow: #9a9a03;
  --planeta-geek-purple: #7E03FB;
  --purple-shadow: #5F02BC;
  --planeta-geek-green: #80FB03;
  --planeta-geek-green-shadow: #478d01;
  --planeta-geek-blue: #0304FB;
  --planeta-geek-blue-shadow: #0203BC;
  --ss: 1.2rem;
  --sm: 1.4rem;
  --md: 1.5rem;
  --lg: 1.8rem;
  --xlg: 2.2rem
}

.trends, .gamer-tips, .launches, .notifications, .us, .tournaments, .apps {
  background-color: var(--background-sections);
  width: 100%;
  padding: 5rem 1rem 2rem;
  position: relative;
}

.title-container {
  width: 100%;
  display: flex;
  height: 6rem;
  padding: 0 2rem 0;
}