footer {
    width: 100%;
    height: 8rem;
    background-color: var(--header-font-color);
    text-align: center;
    align-content: center;
}

#save_changes_btn {
    width: 9.15rem;
    height: 5rem;
    border-radius: 0.5rem;
    font-size: var(--md);
    border: none;
    cursor: pointer;
}

#save_changes_btn:active {
    background-color: var(--planeta-geek-green);
}

@media (min-width: 700px) {
    #save_changes_btn {
        width: 15rem;
    }
}