.modal-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--background-shadow);
    padding: 2rem;
    align-content: center;
}

.modal {
	width: 28rem;
	margin: 0 auto;
	font-size: var(--md);
	border-radius: 0.5rem;
	padding: 1rem;
	background-color: var(--white);
}

#dropBox {
    height: 18.67rem;
    border: 0.2rem solid var(--planeta-geek-shadow-celeste);
    border-radius: 0.5rem;
    text-align: center;
    align-content: center;
}

#dropBox img {
    width: 100%;
    height: auto;
}

.input-file__container, .uploadimg-btn__container, .cancel-uploadimg__container {
    margin-top: 2rem;
    text-align: center;
}

.input-file__container {
    overflow: hidden;
}

#uploadimg_btn, #cancel_uploadimg_btn {
    width: 25rem;
    height: 4rem;
}

#uploadimg_btn {
    background-color: var(--planeta-geek-green-shadow);
    color: var(--white);
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}

#cancel_uploadimg_btn {
    background-color: var(--red-notifications);
    color: var(--white);
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}